:root {
  --main-bg: black;
  --block-bg: #1b1353;
  --reverse-bg: #cac4ce;

  --main-text-color: #cac4ce;
  --reverse-text-color: black;
  --main-font: "Lato", sans-serif;
  --accent-color: #c14953;
}
