@import "../../styles.scss";

.app-layout-root {
  background-color: var(--main-bg);
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 20px;
}

.main-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
