<div class="app-autorization">
  <div class="tabs">
    <input
      type="radio"
      name="tab"
      id="sign-in"
      class="tabs__input"
      (click)="tabName = 'sign-in'"
      checked
    />
    <label for="sign-in" class="tab"> Sign in </label>
    <input
      type="radio"
      name="tab"
      id="sign-up"
      class="tabs__input"
      (click)="tabName = 'sign-up'"
    />
    <label for="sign-up" class="tab"> Sign up </label>
  </div>
  <app-log-in *ngIf="tabName === 'sign-in'"></app-log-in>
  <app-sign-up *ngIf="tabName === 'sign-up'"></app-sign-up>
</div>
