<div class="app-dashboard">
  <form method="post" action="#" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="" class="new-link"> Enter your link: </label>
    <div class="new-link-wrapper">
      <input
        type="url"
        class="input"
        name="url"
        pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
        required
        ngModel
      />
      <button type="submit" class="link-submit" [disabled]="!form.valid">
        +
      </button>
    </div>
  </form>

  <table class="links">
    <th
      class="links__th"
      [class.links__th--asc-sort]="false"
      [class.links__th---desc-sort]="false"
    >
      Short link
    </th>
    <th class="links__th">Original link</th>
    <th class="links__th">Visits count</th>
    <tr *ngFor="let link of links">
      <td class="links__data">{{ "http://79.143.31.216/s/" + link.short }}</td>
      <td class="links__data">{{ link.target }}</td>
      <td class="links__data">{{ link.counter }}</td>
    </tr>
  </table>
  <div class="pagination">
    <button
      class="pagination__btn"
      type="button"
      [disabled]="pageNumber === 0"
      (click)="turnThePage(-1)"
    >
      << Previous</button
    ><button
      class="pagination__btn"
      type="button"
      [disabled]="links.length < limit"
      (click)="turnThePage(1)"
    >
      Next >>
    </button>
  </div>
</div>
