<div class="app-dashboard">
  <form method="get">
    <label for="" class="new-link"> Enter your link: </label>
    <div class="new-link-wrapper">
      <input type="url" name="" id="" class="input" />
      <button type="submit" class="link-submit">+</button>
    </div>
  </form>

  <table class="links">
    <th class="links__th">Short link</th>
    <th class="links__th">Original link</th>
    <th class="links__th">Visits count</th>
    <tr>
      <td class="links__data"><a href="" class="links__link">1</a></td>
      <td class="links__data"><a href="" class="links__link">2</a></td>
      <td class="links__data"><a href="" class="links__link">3</a></td>
    </tr>
  </table>
</div>
