<div class="app-dashboard">
  <form #form="ngForm" class="new-link" (ngSubmit)="onSubmit(form)">
    <label for="link-input" class="new-link__label"> Enter your link: </label>
    <div class="new-link__wrapper">
      <input
        type="url"
        class="new-link__input"
        name="url"
        id="link-input"
        pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
        required
        ngModel
      />
      <button type="submit" class="new-link__submit" [disabled]="!form.valid">
        +
      </button>
    </div>
    <div
      *ngIf="shortLink"
      class="new-link__short short-link"
      (click)="copyLinkToClipboard(shortLink)"
    >
      {{ shortURL + shortLink }}
    </div>
  </form>
  <div class="table-wrapper">
    <table class="links" *ngIf="links.length">
      <th
        class="links__th"
        [class.links__th--asc-sort]="sortInfo['short'] === 'asc'"
        [class.links__th--desc-sort]="sortInfo['short'] === 'desc'"
        (click)="sortClick('short')"
      >
        Short link
      </th>
      <th
        class="links__th"
        [class.links__th--asc-sort]="sortInfo['target'] === 'asc'"
        [class.links__th--desc-sort]="sortInfo['target'] === 'desc'"
        (click)="sortClick('target')"
      >
        Original link
      </th>
      <th
        class="links__th"
        [class.links__th--asc-sort]="sortInfo['counter'] === 'asc'"
        [class.links__th--desc-sort]="sortInfo['counter'] === 'desc'"
        (click)="sortClick('counter')"
      >
        Visits count
      </th>
      <tr *ngFor="let link of links">
        <td
          class="links__data short-link"
          (click)="copyLinkToClipboard(link['short'])"
        >
          {{ shortURL + link["short"] }}
        </td>
        <td class="links__data links__data--target">{{ link.target }}</td>
        <td class="links__data links__data--counter">{{ link.counter }}</td>
      </tr>
    </table>
  </div>
  <div class="pagination">
    <button
      class="pagination__btn"
      type="button"
      [disabled]="pageNumber === 0"
      (click)="turnThePage(-1)"
    >
      << Previous</button
    ><button
      class="pagination__btn"
      type="button"
      [disabled]="links.length < limit"
      (click)="turnThePage(1)"
    >
      Next >>
    </button>
  </div>
</div>
