@import "../../styles.scss";

.app-dashboard {
  background-color: var(--block-bg);
  max-width: 97vw;
  padding: 2em;
  border-radius: 10px;
  @media screen and (min-width: 800px) {
    min-width: 700px;
  }
}

.new-link {
  margin-bottom: 2em;
}

.new-link__wrapper {
  display: flex;
  align-items: center;
}

.new-link__label {
  font-size: 1.2em;
}

.short-link {
  position: relative;
  cursor: pointer;
  &::after {
    position: absolute;
    bottom: 30px;
    right: 10px;
    padding: 3px;
    background-color: var(--reverse-bg);
    color: var(--reverse-text-color);
    content: "Click to copy";
    width: max-content;
    max-height: 0;
    min-width: 0;
    opacity: 0;
    transition: 0.5s;
  }
  &:hover::after {
    max-height: 100px;
    max-width: 100px;
    font-size: 0.7em;
    opacity: 0.8;
  }
}

.new-link__input {
  font: inherit;
  height: 30px;
  width: min(500px, 90vw);
  color: var(--reverse-text-color);
  background-color: var(--reverse-bg);
}

.new-link__submit {
  margin-top: 1px;
  font: inherit;
  background-color: var(--accent-color);
  border: none;
  width: 29px;
  height: 29px;
  line-height: 29px;
  &:disabled {
    filter: grayscale(1);
  }
}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}

.links {
  border-spacing: 0.3em;
  margin-bottom: 0.5em;
}

.links__th {
  cursor: pointer;
  background-color: var(--accent-color);
  padding: 0.5em 1em;

  &--asc-sort::after {
    content: " ▲";
  }
  &--desc-sort::after {
    content: " ▼";
  }
}

.links__data {
  background-color: #0b061b;
  padding: 0.5em;
  &--target {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (min-width: 1500px) {
    max-width: 900px;
  }
  @media screen and (min-width: 1300px) {
    max-width: 700px;
  }
}

.pagination {
  width: max-content;
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.pagination__btn {
  display: flex;
  align-items: center;
  font: inherit;
  background-color: var(--accent-color);
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:disabled {
    filter: grayscale(1);
    opacity: 0.7;
    cursor: default;
  }
}
